{{define "navbar"}}
<ul>
    <li>
        <h1 style="color:white;">Code Runner</h1>
    </li>
    <li style="float:right">
        <a>
            <form action="/github/login">
                <input type="submit" value="Login with Github!" class="btn btn-outline-success">
            </form>
        </a>
    </li>
</ul>
{{end}}