{{define "navbar"}}
    <ul>
        <li>
            <a>
                <input type="submit" value="View App Logs" id="viewLog" class="btn btn-outline-success">
            </a>


        <li style="float:right">
            <a>
            <form action="/workspace">
                <input type="submit" value="Back to Workspace" class="btn btn-outline-success" id="return">
            </form>
            </a>
        </li>

    </ul>
{{end}}
