{{define "yield"}}
    <div class="container">
        <div className="col-xs-8 col-xs-offset-2 jumbotron text-center">
            <h1>Generative Cloud Services</h1>
            <a href="/github/login"
               className="btn btn-primary btn-lg btn-login btn-block">
                Login with Github
            </a>
        </div>
    </div>
{{end}}