{{define "yield"}}
    <br>
    <ul>
        <li style="float:right">
            <a class="active" href="/workspace">
                <button class="active" id="return">Back to workspace!</button>
            </a>
        </li>

    </ul>
    <br>
<div class="container">
    <div className="col-xs-8 col-xs-offset-2 jumbotron text-center">
        <h1>Use this token to work with your app locally!</h1>
        <p>Token: {{.Key}}</p>

    </div>


</div>


{{end}}