{{define "js"}}
<script>

function showHelp() {
document.getElementById("help").style.display = "block";
}

function hideHelp() {
document.getElementById("help").style.display = "none";
}
</script>
{{end}}