{{define "js"}}
    <script>
        window.addEventListener("load", function(evt) {
            var output = document.getElementById("logBody");
            var ws;
            var print = function(message) {
                var d = document.createElement("div");
                d.innerHTML = message;
                output.appendChild(d);
                //$("#logBody").animate({ scrollTop: $('#logBody').prop("scrollHeight")}, 1000);
                $('#logBody').scrollTop($('#logBody')[0].scrollHeight);

            };
            document.getElementById("viewLog").onclick = function(evt) {
                if (ws) {
                    return false;
                }
                var wss = "wss://";
                if (document.location.protocol === "http:") {
                    wss = "ws://";
                }
                var addr = wss+window.location.hostname+"/logsSocket?owner={{ .Owner}}&app={{ .Name}}"
                console.log("WebSocket: "+addr)
                ws = new WebSocket(addr);
                ws.onopen = function(evt) {
                    print("Opening connection...");
                }
                ws.onclose = function(evt) {
                    print("Closing connection...");
                    ws = null;
                }
                ws.onmessage = function(evt) {
                    print("LOG: " + evt.data);
                }
                ws.onerror = function(evt) {
                    print("ERROR: app not running");
                }
                return false;
            };

            document.getElementById("return").onclick = function(evt) {
                location.href ="/workspace"
                if (!ws) {
                    return false;
                }
                ws.close();
                return false;
            };
        });



        $(document).ready(function() {
            setInterval(function(){
                $.ajax({
                    url: "/getApp",
                    type: "get",
                    data: {app: "{{ .Name}}"},
                    cache: false,
                    success: function (response) {
                        console.log(response);
                        $('#appData').html(response)
                    },
                    error: function (xhr) {
                    }
                });}, 5000);
        });
    </script>

{{end}}